body {
    font-family: Arial, sans-serif;
    color: #333333;
    margin: 20px;
    background: linear-gradient(to right, #ff7e5f, #feb47b, #ffb347);
    font-size: 25px;
    text-align: left;
    text-decoration:double;
}

header {
    padding: 10px 20px;
    text-align: center;
    display: inline;
}

h1 {
    font-family:'Times New Roman', Times, serif;
    color: rgb(0, 88, 22);
    font-size: 30px;
    text-align: center;
    text-decoration: dotted ;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(0, 65, 43);
    font-size: 25px;
    text-align: left;
    text-decoration: dotted ;
}
h3{
    color: rgb(0, 0, 0);
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: white;
    width: 100%;
}

section {
    padding: 20px;
}

article {
    padding: 20px;
    background: #f9f9f9;
    border: 1px solid #ddd;
}

p {
    line-height: 1.6;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(0, 104, 26);
    font-size: 25px;
    text-align: left;
    text-decoration: double;
}

.especie{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(14, 168, 0);
    font-size: 25px;
    text-align: left;
    text-decoration: double;
}
.cambiar-color {
    padding: 10px;
    background-color: lightblue;
}

.cambiar-color:hover {
    background-color: coral;
}
.boton {
    display:inline-block;
    width: 24%;
    background-color: rgb(0, 122, 47);
    border: 1px;
    border-radius: 25px;
    text-align: center; font-size:25px; 
    text-align: center; 
    font-style: arial;
     color: rgb(255, 255, 255);
}


